.container{
    text-align: center;
}

.box{
    width: 67px;
    height: 67px;
    border: 1px solid black;
    display: inline-flex;
    flex-wrap: wrap;
    line-height: 80px;
    padding: 0;

}

.sudoku-table {
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  font-size: 16pt;      
  
}


.biggerBox{
    border: 3px solid black;
    width:  208px;
    height: 208px;

}

.board{
    display: inline-flex;
    flex-wrap: wrap;
    width: 650px;
}