/* table {
    margin: 1em auto;
}
td {
    height:200;
    width:200;
    border:2px solid;
    text-align:center;
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}
tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
} */

.box{
    width: 67px;
    height: 67px;
    border: 1px solid black;
    flex-wrap: wrap;
    line-height: 70px;
    padding: 0;

}

.sudoku-table {
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  font-size: 16pt;      
  position: absolute;
  
}


.biggerBox{
    border: 3px solid black;
    width:  208px;
    height: 208px;

}

.board{
    display: inline-flex;
    flex-wrap: wrap;
    width: 650px;
    margin-top: auto;
    text-align: center;

}

.title{
    text-align: center;
}